.chat {
	display: flex;
	flex-direction: column;
	flex: 0.65;
}
.chat_header {
	padding: 20px;
	display: flex;
	align-items: center;
	border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
	height: 7.5%;
}
.chat_header_info {
	flex: 1;
	padding-left: 20px;
}
.chat_header_info > h3 {
	font-size: 20px;
	font-weight: 500;
	margin-top: 2%;
	margin-bottom: 0px;
}
.chat_header_info > p {
	font-size: 16px;
	margin-top: 0px;
}
.chat_body {
	padding: 30px;
	overflow-y: scroll;
	height: 80%;
	background-color: rgba(0, 0, 0, 0.3);
}
.chat_message {
	position: relative;
	font-size: 16px;
	padding: 10px;
	width: fit-content;
	border-radius: 10px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.4);
}
.chat_receiver {
	margin-left: auto;
	background-color: rgba(41, 23, 23, 0.8);
}
.chat_name {
	position: absolute;
	top: -15px;
	font-weight: 800;
	font-size: xx-small;
}
.chat_timestamp {
	margin-left: 10px;
	font-size: xx-small;
}
.chat_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 62px;
	border-top: 1.5px solid rgba(0, 0, 0, 0.2);
}
.chat_footer > form {
	flex: 1;
	display: flex;
}
.chat_footer > form > input {
	flex: 1;
	border-radius: 30px;
	padding: 10px;
	border: none;
	background-color: rgba(0, 0, 0, 0.4);
	color: grey;
}
.chat_footer > form > button {
	display: none;
}
.chat_footer > .MuiSvgIcon-root {
	padding: 10px;
	color: grey;
}
